img{
    width: 300px;
    height: 300px;
    border-radius: cover;
    }
    .tems{
      width: 150px;
    height: 150px;
    border-radius: 300px;    }
   
    table{
      border: 10px;
  }.username{
    font-weight: bold;
    }
    .myimage{ 
      width: 150px;
      height: 150px;
      border-radius: 300px;
    }
  
  
  
  h1 {
      color: green;
      text-align: left;
    }
    h2 {
      color: blue;
      font-style: italic;
      text-align: left;
    }
    p {
      font-family: sans-serif;
    }
    ul {
      line-height: 40px;
    }
    h3{
        color: blue;
        font-style: italic;
        text-align: left;
    }
    